name: GitHub Pages

on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: npm
          cache-dependency-path: Web/package.json

      - uses: mymindstorm/setup-emsdk@v10
        with:
          version: latest

      - run: emconfigure ./configure
      - run: emmake make
      - run: emcc Front/*.o */.libs/*.a -O3 -o mona.js -s MODULARIZE=1 -s EXPORT_NAME="'MonaModule'" -s EXIT_RUNTIME=1 -s INVOKE_RUN=0 -s ALLOW_MEMORY_GROWTH=1 -s EXPORTED_RUNTIME_METHODS='["callMain","FS","IDBFS"]' -lidbfs.js
      - run: emcc Lib/dfa2dot.c Lib/dfalib.c -O3 -o dfa2dot.js -s MODULARIZE=1 -s EXPORT_NAME="'Dfa2DotModule'" -s EXIT_RUNTIME=1 -s INVOKE_RUN=0 -s ALLOW_MEMORY_GROWTH=1 -s EXPORTED_RUNTIME_METHODS='["callMain","FS","IDBFS"]' -lidbfs.js
      - run: (cd Web && npm install)
      - run: (cd Web && npm run build)
      - run: cp mona.js Web/build/static/js/mona.js
      - run: cp mona.wasm Web/build/static/js/mona.wasm
      - run: cp dfa2dot.js Web/build/static/js/dfa2dot.js
      - run: cp dfa2dot.wasm Web/build/static/js/dfa2dot.wasm
      - run: cp Web/node_modules/monaco-editor/min/vs/base/worker/workerMain.js Web/build/static/js/editor.worker.js

      - uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          branch: github-pages
          folder: Web/build
