name: GitHub Pages

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: npm
          cache-dependency-path: Web/package.json

      - uses: mymindstorm/setup-emsdk@v9
        with:
          version: 2.0.34
          actions-cache-folder: emsdk-cache

      - run: emconfigure ./configure
      - run: emmake make
      - run: emcc Front/*.o */.libs/*.a -O3 -o mona.js -s MODULARIZE=1 -s EXIT_RUNTIME=1 -s INVOKE_RUN=0 -s EXPORTED_RUNTIME_METHODS='["callMain","FS","IDBFS","ENV"]' -lidbfs.js
      - run: cd Web
      - run: npm install
      - run: npm run build
      - run: cp ../mona.js build/static/js/mona.js
      - run: cp ../mona.wasm build/static/js/mona.wasm
      - run: cp node_modules/monaco-editor/min/vs/base/worker/workerMain.js build/static/js/editor.worker.js

      - uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          branch: github-pages
          folder: Web/build